* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Segoe UI, serif;
}

.pt1 {
    /* height: 100vh; */
    width: 100%;
}

.pt2 {
    /* height: 100vh; */
    width: 100%;
}

.pt3 {
    height: 80vh;
    width: 100%;
}

.pt4 {
    /* height: 100vh; */
    width: 100%;
}

.pt5 {
    /* height: 100vh; */
    width: 100%;
}

.pt6 {
    /* height: 100vh; */
    width: 100%;
}

.nav {
    height: 100px;
    width: 93%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1rem;
    border-color: black;
}

.head {
    display: flex;
}

.name h1 {
    font-size: 1.7rem;
    font-family: Segoe UI, serif;
    font-weight: 500;
    margin: 2rem 3rem;
    color: hsl(250, 69%, 61%);
}

.head li {
    list-style: none;
    font-family: Segoe UI, serif;
    margin: 2rem 1.5rem;
    font-size: 1.4rem;
}

.head li a {
    text-decoration: none;
    color: gray;
}

.skill_head:hover {
    cursor: pointer;
}

.head li a:hover {
    color: hsl(250, 69%, 61%);
    cursor: pointer;
}

.side {
    width: 100%;
    display: grid;
    grid-template-columns: max-content max-content max-content;
}

.site {
    margin-top: 15rem;
    margin-left: 2rem;
}

.site i {
    color: hsl(250, 69%, 61%);
    font-size: 2rem;
    margin: 1rem 2rem;
}

.site i:hover {
    color: hsl(250, 85%, 85%);
}

.info {
    margin-left: 10rem;
    margin-top: 10rem;
}

.info h1 {
    margin: 1rem 1rem;
    font-size: 3rem;
}

.info h2 {
    color: gray;
    margin: 1rem 1rem;
    font-weight: 500;
}

.info h3 {
    color: gray;
    font-weight: 400;
    margin: 1rem 1rem;
}

.info button {
    background-color: hsl(250, 85%, 92%);
    border: none;
    margin-top: 2rem;
    margin-left: .5rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    font-size: 1.3rem;
}

.info button:hover {
    background-color: hsl(250, 69%, 61%);
    color: white;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.img img {
    margin-left: 13rem;
    margin-top: 10rem;
    clip-path: circle(50%)
}

.info1 h1 {
    color: gray;
    font-family: Segoe UI, serif;
    font-size: 1.5rem;
    font-weight: 100;
    margin-left: 7rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

.med-about-img {
    margin-top: 3rem;
    margin-left: 16rem;
    border-radius: 1rem;
}

.up {
    font-family: Segoe UI, serif;
    margin-left: 3.5rem;
    font-size: 2rem;
    font-weight: bold;
}

.down {
    display: flex;
}

.down li {
    font-family: Segoe UI, serif;
    list-style: none;
    margin-left: 2.6rem;
}

.info1 a {
    display: inline-block;
    background-color: hsl(250, 69%, 61%);
    color: white;
    border: none;
    font-family: Segoe UI, serif;
    margin-top: 2.5rem;
    margin-left: 7rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    font-size: 1.1rem;
    text-decoration: none;
}

.med-up {
    margin-left: 8rem;
}

#med-down {
    margin-left: 8rem;
}

.info1 a:hover {
    background-color: rgb(177, 177, 243);
    color: blue;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.first_skill {
    margin-left: 1rem;
}

.second_skill {
    margin-left: 1rem;
}

.third_skill {
    margin-left: 1.6rem;
}

.skill_data {
    height: 40px;
    width: 290px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 3.6rem;
}

.skill_data h1 {
    font-weight: 500;
}

.line .per {
    height: .5rem;
    border-radius: .5rem;
}

.line {
    margin-left: 3.6rem;
    border-radius: .5rem;
    background-color: rgb(193, 190, 249);
}

.per {
    display: block;
    background-color: rgb(116, 116, 235);
}

.skill_box {
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}

.db_skill {
    height: 185px;
    width: 100%;
}

.html {
    width: 90%;
}

.css {
    width: 80%;
}

.js {
    width: 60%;
}

.php {
    width: 90%;
}

.python {
    width: 85%;
}

.java {
    width: 70%;
}

.cpp {
    width: 65%;
}

.mysql {
    width: 95%;
}

.mongodb {
    width: 80%;
}

.mariadb {
    width: 70%;
}

.skill_list {
    margin-bottom: 2rem;
}

.close .skill_list {
    height: 0;
    overflow: hidden;
}

.open .skill_list {
    transition: all 3s ease-out;
    height: max-content;
}

.open .rotate {
    transform: rotate(-180deg);
}

.qul {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.edu {
    display: flex;
}

.work {
    display: flex;
}

.edu i {
    margin-top: .3rem;
    color: blue;
    font-size: 1.5rem;
}

.edu h1 {
    margin-left: .7rem;
    color: rgb(119, 119, 229);
}

.work i {
    margin-top: .3rem;
    margin-left: 2rem;
    color: gray;
    font-size: 1.5rem;
}

.work h1 {
    margin-left: .7rem;
    color: gray;
}

.quli {
    height: 60vh;
    width: 50%;
    margin-left: 25rem;
    margin-top: 2rem;
}

.q2 {
    margin-top: 2rem;
    margin-left: 5rem;
}

.q1 h2,
.q2 h2,
.q3 h2 {
    font-size: 1.5rem;
    color: gray;
}

.q1 h3,
.q2 h3,
.q3 h3 {
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.586);
    font-weight: 500;
}

.q1 span,
.q2 span,
.q3 span {
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.736);
}

.q1 h4,
.q2 h4,
.q3 h4 {
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.597);
    font-weight: 500;
}

.q3 {
    margin-top: 2rem;
}

.round {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: rgb(118, 118, 237);
    border-radius: 50%;
    margin-top: 4rem;
}

.line1 {
    position: relative;
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgb(177, 177, 243);
    z-index: -1;
    transform: translate(9px, -7px);
}

.gridd {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
}

.box {
    display: flex;
    justify-content: space-between;
    height: min-content;
    width: 70%;
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: 15rem;
    background-color: hsl(250, 69%, 61%);
    border-radius: 1rem;
}

.box_info {
    margin-left: 5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.box_info h1 {
    font-size: 1.8rem;
    color: white;
}

.box_info h4 {
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
}

.box_info button {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border-radius: .5rem;
    background-color: white;
}

.box_info button:hover {
    color: gray;
    background-color: lightgray;
    transition: all .6s ease-in-out;
    transform: scale(1.1);
}

.box_img {
    margin-right: 5rem;
    margin-top: 3.5rem;
}

.box_img img {
    border-radius: 1rem;
}

.all_client {
    display: flex;
    justify-content: center;
}

.feedback {
    height: 150px;
    width: 400px;
    margin-left: 2rem;
    margin-top: 2rem;
}

.client_info h4 {
    margin-left: 1rem;
    margin-top: .8rem;
}

.client_info span {
    margin-left: 1rem;
}

.rating {
    margin-top: 1rem;
    margin-left: 7rem;
}

.client_feedback {
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 400;
    font-size: 1rem;
}

.contact_info {
    display: flex;
    margin-top: 2rem;
}

.contact {
    display: flex;
    margin-top: 3rem;
    margin-left: 25rem;
}

.contact_info_1 {
    margin-left: 1rem;
}

.contact_info_1 h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.contact_info_1 span {
    color: gray;
    font-size: .8rem;
}

.med-temp {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.all_info {
    margin-left: 5rem;
}

.all_info input,
textarea {
    padding: 1rem 1rem;
    background-color: hsl(250, 85%, 92%);
    border: none;
    margin: 1rem 1rem;
    border-radius: .3rem;
}

.btn {
    padding: 1rem 2rem;
    margin: 1rem 1rem;
    background-color: hsl(250, 85%, 92%);
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
}

.btn:hover {
    background-color: hsl(250, 69%, 61%);
    color: white;
    transition: all .3s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
}

.footer {
    background-color: hsl(250, 69%, 61%);
}

.foot_info {
    margin-top: 3.5rem;
}

.foot_site {
    display: flex;
    margin-top: 3.5rem;
}

.foot_site h3 a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 500;
}

.foot_site h3 a:hover {
    cursor: pointer;
}

.foot_logo {
    margin-top: 3.5rem;
}

.foot_logo i {
    font-size: 1.7rem;
    color: white;
    margin: 1rem 1rem;
}

.foot_info h2 {
    color: white;
    font-size: 1.5rem;
}

.foot_info h4 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (max-width: 450px) {
    html {
        font-size: 70%;
    }
    .nav {
        width: 100%;
    }
    .head {
        display: none;
    }
    .info {
        order: 1;
        margin-top: 2rem;
        margin-left: 4rem;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .side {
        grid-template-columns: 1fr 1fr;
    }
    .site {
        margin-top: 13rem;
        margin-left: .5rem;
    }
    .img img {
        margin-left: 0;
        margin-right: 2rem;
        margin-top: 9rem;
        height: 250px;
        width: 250px;
    }
    .med-about {
        flex-direction: column;
    }
    .med-about-img {
        height: 250px;
        width: 250px;
        margin-left: 5rem;
    }
    .info1 h1 {
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .med-up {
        margin-left: 5rem;
    }
    #med-down {
        margin-left: 5rem;
    }
    .info1 a {
        margin-left: 10rem;
    }
    .skill_box {
        flex-direction: column;
    }
    .db_skill {
        width: 88%;
    }
    .skill_head {
        margin-left: 4rem;
        margin-bottom: 2rem;
    }
    .quli {
        margin-left: 0;
        width: 100%;
    }
    .q1,
    .q3 {
        margin-left: 1.2rem;
    }
    .q2 {
        margin-left: 2rem;
    }
    .q1 h2,
    .q2 h2,
    .q3 h2 {
        font-size: 1.2rem;
        color: gray;
    }
    .q1 h3,
    .q2 h3,
    .q3 h3 {
        font-size: 1rem;
    }
    .q1 span,
    .q2 span,
    .q3 span {
        font-size: 1rem;
    }
    .q1 h4,
    .q2 h4,
    .q3 h4 {
        font-size: 1rem;
    }
    .q2 {
        margin-left: 1rem;
    }
    .box {
        height: min-content;
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 5rem;
        background-color: hsl(250, 69%, 61%);
        border-radius: 0;
    }
    .box_img {
        margin-left: 8rem;
    }
    .box_info {
        margin-left: 7rem;
        margin-top: 3rem;
    }
    .box_info button {
        margin-left: 3rem;
    }
    .contact {
        flex-direction: column;
        margin-left: 2rem;
    }
    .all_info {
        margin-left: 0;
    }
    .med-temp {
        grid-template-columns: initial;
    }
    .med-input {
        width: 93.5%;
    }
}

@media screen and (max-width: 770px) {
    html {
        font-size: 70%;
    }
    .nav {
        width: 100%;
    }
    .head {
        display: none;
    }
    .info {
        margin-top: 10rem;
        margin-left: 4rem;
    }
    .side {
        grid-template-columns: max-content 1fr 1fr;
    }
    .site {
        margin-top: 13rem;
        margin-left: .5rem;
    }
    .img img {
        margin-left: 0;
        margin-right: 2rem;
        margin-top: 9rem;
        height: 250px;
        width: 250px;
    }
    .med-about-img {
        height: 250px;
        width: 250px;
        margin-left: 5rem;
    }
    .info1 h1 {
        margin-top: 2rem;
        margin-left: 5remrem;
    }
    .med-up {
        margin-left: 10rem;
    }
    #med-down {
        margin-left: 10rem;
    }
    .info1 a {
        margin-left: 10rem;
    }
    .skill_box {
        flex-direction: column;
    }
    .db_skill {
        margin-left: 22.5rem;
        width: 43%;
    }
    .skill_head {
        margin-left: 23rem;
        margin-bottom: 2rem;
    }
    .quli {
        margin-left: 0;
        width: 100%;
    }
    .q1,
    .q3 {
        margin-left: 15rem;
    }
    .q2 {
        margin-left: 2rem;
    }
    .q1 h2,
    .q2 h2,
    .q3 h2 {
        font-size: 1.2rem;
        color: gray;
    }
    .q1 h3,
    .q2 h3,
    .q3 h3 {
        font-size: 1rem;
    }
    .q1 span,
    .q2 span,
    .q3 span {
        font-size: 1rem;
    }
    .q1 h4,
    .q2 h4,
    .q3 h4 {
        font-size: 1rem;
    }
    .q2 {
        margin-left: 1rem;
    }
    .box {
        height: min-content;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        margin-bottom: 5rem;
        background-color: hsl(250, 69%, 61%);
        border-radius: 0;
    }
    .box_img {
        margin-left: 8rem;
        margin-bottom: 3rem;
    }
    .box_info {
        margin-left: 7rem;
        margin-top: 7rem;
    }
    .box_info button {
        margin-left: 3rem;
    }
    .contact {
        margin-left: 5rem;
    }
    .all_info {
        margin-left: 0;
    }
    .med-input {
        width: 96%;
    }
}